<div *ngIf="!isLoggedIn">
    <form #loginForm="ngForm" (ngSubmit)="onLoginClick(loginForm)">
        <label>
            username:
            <input name="username" ngModel/>
        </label>
        <label>
            password:
            <input type="password" name="password" ngModel/>
        </label>
        <button type="submit" style="background-color: green; color: aliceblue;">Login</button>
    </form>
    
    <div >
        <div *ngIf="isError" class="alert alert-dismissible alert-danger">
            {{notificationMessage}}
        </div>
        <div *ngIf="isSuccess" class="alert alert-dismissible alert-success">
            {{notificationMessage}}
        </div>
    </div>
</div>
<div *ngIf="isLoggedIn">
    Welcome {{username | titlecase}}!
    <button (click)="logoutCilck()" style="background-color: green; color: aliceblue;">Logout</button>
</div>

<div class="right">CURRENT TIME: {{time | async | date:'mediumTime'}}</div>