<div *ngIf="isError" class="alert alert-dismissible alert-danger">
    {{notificationMessage}}
</div>
<div *ngIf="isSuccess" class="alert alert-dismissible alert-success">
    {{notificationMessage}}
</div>

<form #registrationForm="ngForm" (ngSubmit)="onRegistration(registrationForm)">
    <div>
        <label>
            Name:
            <input  name="name" ngModel/>
        </label>
    </div>
    <div>
        <label>
            Username:
            <input  name="username" ngModel/>
        </label>
    </div>
    <div>
        <label>
            Password:
            <input name="password" type="password" ngModel/>
        </label>
    </div>
    <div>
        <label>
            Confirm Password:
            <input name="confirm_password" type="password" ngModel />
        </label>
    </div>
   <h4> <button type="submit" style="background-color: green; color:aliceblue">Register</button></h4>
</form>